* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}


body {
    max-width: 1400px;
    margin: 0 auto;
}

nav {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F5F7FA;
}

.nav-mid button {
    border: none;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #F5F7FA;
}

.nav-login {
    border: none;
    background-color: #F5F7FA;
    margin-left: 20px;
    margin-right: 20px;
    color: #4CAF4F;
}

.nav-signup {
    border: none;
    background-color: #4CAF4F;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
}

main {
    padding: 0;
    margin: 0;
}

.hero-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 60px;
    background-color: #F5F7FA;
}

.hero-bigtext {
    font-size: 9vh;
    color: #4D4D4D;
    font-weight: 600;
}

.hero-span {
    color: #4CAF4F;
}

.hero-smalltext {
    color: #4D4D4D;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 400;
}

.hero-register {
    background-color: #4CAF4F;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
}

.dot-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F7FA;
    padding-top: 50px;
    padding-bottom: 15px;
}

.dot {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-left: 7px;
}

.dark {
    background-color: #4CAF4F;
}

.light {
    background-color: #A5D6A7;
}

.client-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.client-bigtext {
    padding-top: 20px;
    font-size: 5vh;
    color: #4D4D4D;
    font-weight: 600;
}

.client-smalltext {
    color: #4D4D4D;
    padding-top: 5px;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 2vh;
}

.client-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}


/* ************** */
/* Community section */
/* ************** */

section {
    padding: 40px 144px;
}

.community {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.community h2 {
    padding-top: 20px;
    font-size: 5vh;
    color: #4D4D4D;
    font-weight: 600;
    text-align: center;
}

.community p {
    color: #4D4D4D;
    padding-top: 5px;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 2vh;
}

.community-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;
}

.community-card {
    /* background-color: #F5F7FA; */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 16px;
    text-align: center;
    padding: 24px 32px;
    border-radius: 8px;
    box-shadow: 1px 3px 3px rgb(187, 186, 186);
}

.community-card h3 {
    font-size: 3vh;
    color: #4D4D4D;
    font-weight: 900;
    text-align: center;
}

.community-card p {
    color: #4D4D4D;
    /* padding-top: 5px; */
    /* padding-bottom: 20px; */
    font-weight: 400;
    font-size: 2vh;
}

.community-image {
    background-color: #A5D6A7;
    width: 50px;
    height: 50px;
    align-self: center;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    position: relative;
}

.community-image img {
    position: absolute;
    top: 0px;
    right: 48%;
}


.unseen-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.unseen-sec h2 {
    padding-top: 20px;
    font-size: 4vh;
    color: #4D4D4D;
    font-weight: 600;
    padding-bottom: 10px;
}

.unseen-sec p {
    color: #4D4D4D;
    padding-top: 5px;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 2vh;
}

.unseen-image {
    width: 300px;
    height: 300px;
    padding-right: 80px;
}

.unseen-button {
    background-color: #4CAF4F;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    margin-top: 15px;
}

.helping {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F7FA;
}

.helping-logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px;
}

.helping-span {
    color: #4CAF4F;
}

.helping-text h2 {
    color: #4D4D4D;
}

.helping-text p {
    color: #4D4D4D;
    padding-top: 5px;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 2vh;
}

.hlogo h2 {
    font-size: 3vh;
    color: #4D4D4D;
    font-weight: 900;
}

.hlogo {
    width: 255px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.hlogo img {
    height: 48px;
    width: 48px;
}

.how-to {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.how-to h2 {
    padding-top: 20px;
    font-size: 4vh;
    color: #4D4D4D;
    font-weight: 600;
    padding-bottom: 10px;
}

.how-to p {
    color: #4D4D4D;
    padding-top: 5px;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 2vh;
}

.howto-image {
    width: 300px;
    height: 300px;
    padding-right: 80px;
}

.howto-button {
    background-color: #4CAF4F;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    margin-top: 15px;
}